@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
background-color: rgb(255, 212, 255);
color: rgb(85, 11, 155);
height: 100vh;}

header {
    width: 100%;
    height: 50px;
    
}

.header__principal {
    display: flex;
    align-items: center;
    flex-direction:row;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    gap: 20px;
    height: 50px;
}
.header__home {

    margin-left: 100px;
    margin-right:100px;
    text-decoration: none;
}

.header__description {
    margin-left: 100px;
    margin-right:100px;
    text-decoration: none;
}

.header__experiencia {
    margin-left: 100px;
    text-decoration: none;
}


.description {
    display:flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: auto;
    height: 100%;
    margin: 0; 
    gap: 40px;
    
    
}

.principal {
    width: 40%;
    height: 60%;
    padding-right: 200px;
    
}

.principal__titulo  {
    padding-bottom: 5%;
font-size: 2.25rem;
text-justify: auto;
font-family: 'Krona One', sans-serif; 
color: black;
}


.principal__descricao {
    text-justify: auto;
    margin-bottom: 1cm;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
}

#minha__imagem {
    width: 30%;
    height: 70%;
    

}